{% extends "::base.html.twig" %}
{% block stylesheets %}
    <style>
        ul.rega{
            width:350px;
        }

        ul.rega li{
            float:left;
            width:150px;
            list-style:none;
        }

        ul.rega li.in{
            width:250px;
            list-style:none;
        }
    </style>
{% endblock %}
{% block body %}
    <fieldset>
        <legend>
            <h1 align="left">Change Password</h1>
        </legend>
        <form action="" method="POST" name="form1">
            <ul class="rega">
                <li><label>New Password:</label></li>
                <li class="in"><input type="password" name="password" maxlength="36"></li>
            </ul>
            <ul class="rega">
                <li><label>Confirm:</label></li>
                <li class="in"><input type="password" name="confirm" maxlength="36"></li>
            </ul>
            <ul class="rega">
                <li></li>
                <li class="in"><p><input type="image" src="{{ asset('bundles/user/images/accept.png') }}" name="imageButton" width="85" height="30"></p></li>
            </ul>
        </form>
    </fieldset>
{% endblock %}